{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'answer/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'answer/css/media.css' %}">
  <link rel="stylesheet" href="{% static 'answer/css/matrix.css' %}">
  <link rel="stylesheet" href="{% static 'answer/css/itc-slider.css' %}">
  <title>Нумеролог Юлия</title>
</head>
<body>
  <div class="wrapper">
    <!-- header start -->
    <header class="header example-screen">
      <div class="header-container">
        <div class="header-menu menu">
          <div class="menu-icon-border">
            <div class="menu-icon">
              <span></span>
              <!-- <a class="icon" href="#">
                <img src="./img/icon/menu-burger.svg" alt="Меню">
              </a> -->
            </div>
          </div>
        </div>
        <nav class="menu-body">
          <ul class="menu-list">
            <li><a data-goto=".page-section-1" href="#" class="menu-link">Главная</a></li>
            <li><a data-goto=".page-section-2" href="#" class="menu-link">Матрица</a></li>
            <li><a data-goto=".page-section-3" href="#" class="menu-link">Услуги</a></li>
            <li><a data-goto=".page-section-4" href="#" class="menu-link">Отзывы</a></li>
            <li><a data-goto=".page-section-5" href="#" class="menu-link">Сертификат</a></li>
          </ul>
        </nav>
        <div class="messengers">
          <a class="icon" href="https://t.me/Julia_lysenko_BA">
            <img src="{% static 'answer/img/icon/telegram.svg' %}" alt="Телеграм">
          </a>
          <a class="icon" href="https://www.instagram.com/numerology_analysis/">
            <img src="{% static 'answer/img/icon/instagram.svg' %}" alt="Инстаграм">
          </a>
          <a class="icon" href="https://msng.link/o/?380957126603=vi">
            <img src="{% static 'answer/img/icon/viber.svg' %}" alt="Вайбер">
          </a>
        </div>
      </div>
    </header>
    <!-- header end -->
    <main class="page">
      <!-- first screen section start -->
      <section class="page-section-1 example-screen">
        <div class="first-screen">
          <picture class="image">
            <source media="(min-width: 320px) and (max-width: 767px)" srcset="{% static 'answer/img/photo-sm.png' %}">
            <source media="(min-width: 768px) and (max-width: 1023px)" srcset="{% static 'answer/img/photo-m.png' %}">
            <source media="(min-width: 1024px)" srcset="{% static 'answer/img/photo-xl.png' %}">
            <img src="{% static 'answer/img/photo-sm.png' %}" alt="Фото нумеролога" class="image-sm">
          </picture>
          <div class="headings">
            <h1 class="heading-1">Привет, <br/>меня зовут Юлия</h1>
            <h2 class="heading-2">Я нумеролог и сертифицированный специалист по методу самопознания личности 
            Матрица судьбы.</h2>
          </div>
        </div>
        <div class="text">
          <p>Нумерология - это наука о связи чисел и человека. Мы рождаемся в определенный 
            день - неслучайно. Твоя дата рождения, это личный код, где заложен твой потенциал, 
            возможности и таланты. Твои уроки и задачи, которые необходимо решить на протяжении 
            всей жизни. Не бывает такого, что у кого то, они есть, а у кого то нет. Они есть 
            абсолютно у каждого.
          </p>
          <p>
            Моя задача – показать человеку его энергии и помочь наладить гармоничные отношения 
            с собой, родными и близкими.
          </p>
        </div>
      </section>
      <!-- first screen section end -->

      <!-- matrix section start -->
      <section class="page-section-2">
        <div class="matrix-bg">
          <h1 class="heading-1">Матрица судьбы</h1>
          <div class="text">
            <p>
              Ниже ты можешь узнать свое первое предназначение, в каком направлении необходимо 
              двигаться в поисках себя.
            </p>
          </div>
          <form action="modal" method="post" enctype="application/x-www-form-urlencoded" class="matrix-container example-print" id="matrix-form">{% csrf_token %}
            <div class="input-field">
              <label for="name-input" class="heading-4">Имя</label>
              <input type="text" id="name-input" name="name-input" placeholder="Введите имя" class="matrix-input" required>
              <label for="data-input" class="heading-4">Дата рождения</label>
              <input type="date" id="data-input" name="data-input" placeholder="день.месяц.год" class="matrix-input" required>
              <button type="submit" name="button" class="matrix-button" id="matrix-cont">
                <span class="matrix-button-title">Предназначение</span>
                <span class="matrix-button-icon"></span>
              </button>
            </div>
          </form>
        </div>
        <!-- Modal section start -->
        {% block content %}

        {% endblock %}
        <!-- Modal section end -->
      </section>
      <!-- matrix section end -->

      <!-- services section start -->
      <section class="page-section-3 example-screen">
        <div class="services-bg">
          <h1 class="heading-1">Услуги</h1>
          <div class="text">
            <p>
              Если ты хочешь глубже познакомится с собой и начать менять свою жизнь, напиши 
              мне в Direct Instagram или в любой мессенджер.
            </p>
          </div>
          <div class="services-container">
            <div class="slider slider-1" data-slider="itc-slider">
              <div class="slider__wrapper">
                <div class="slider__items">
                  <div class="slider__item services-item">
                    <!-- Контент 1 слайда -->
                    <h4>Предназначение</h4>
                    <p class="services-text">Расчёт содержит описание и ответ на вопросы:</p>
                    <ul class="services-text">
                      <li>Предназначения по периодам жизни.</li>
                      <li>Миссия в духовном и материальном мире.</li>
                      <li>Положительные и отрицательные качества личности.</li>
                      <li>В чем ваше призвание?</li>
                      <li>Список подходящих профессий.</li>
                    </ul>
                    <p class="services-text">Как выглядит: текстовый файл (3-5 стр.) + аудиозапись</p>
                    <h4>Стоимость: 440 грн./ 1250 руб.</h4>
                  </div>
                  <div class="slider__item services-item">
                    <!-- Контент 2 слайда -->
                    <h4>Энергия года и прогноз</h4>
                    <p class="services-text">Поможет тебе узнать и понять общее направление года:</p>
                    <ul class="services-text">
                      <li>в каких сферах жизни возможен успех,</li>
                      <li>на чем лучше сосредоточится,</li>
                      <li>благоприятные месяцы для новых проектов, бизнеса, путешествий, 
                        укрепления отношений, брака.</li>
                    </ul>
                    <p class="services-text">Как выглядит: текстовый файл (3-5 стр.) + аудиозапись</p>
                    <h4>Стоимость: 440 грн./ 1250 руб.</h4>
                  </div>
                  <div class="slider__item services-item">
                    <!-- Контент 3 слайда -->
                    <h4>Матрица судьбы</h4>
                    <p class="services-text">Матрица судьбы - это уникальный метод самопознания, 
                      который позволит тебе узнать: предназначение, родовые задачи, кармические 
                      задачи. Ты узнаешь каким талантом ты обладаешь, как его раскрыть. А также 
                      через что придут деньги в твою жизнь. Это как инструкция по построению своей
                      счастливой жизни. Как инструкция с ответами: Кто Я, на что Я способен 
                      и чего Я хочу.</p>
                    <p class="services-text">Как выглядит: текстовый файл (18-22 стр.) + аудиозапись</p>
                    <h4>Стоимость: 800 грн./ 2150 руб.</h4>
                  </div>
                  <div class="slider__item services-item">
                    <!-- Контент 4 слайда -->
                    <h4>“Я и ты” (совместимость)</h4>
                    <p class="services-text">
                      Рассчитывается по Матрицам судеб обоих партнеров. Учитываются все особенности 
                      личности. Сильные и слабые стороны каждого из партнеров, как взаимодействовать 
                      друг с другом, зная особенности партнера. Что важно проработать в себе, чтобы 
                      улучшить атмосферу в союзе партнеров. Поможет обрести личную гармонию и 
                      гармонию в отношениях.
                    </p>
                    <p class="services-text">Как выглядит: текстовый файл (6-8 стр.) + аудиозапись</p>
                    <h4>Стоимость: 620 грн./ 1700 руб.</h4>
                  </div>
                  <div class="slider__item services-item">
                    <!-- Контент 5 слайда -->
                    <h4>Детская матрица</h4>
                    <p class="services-text">
                      Для тех, кто хочет узнать характер ребенка. Анализ сильных и слабых сторон, 
                      на что сделать упор в воспитании, какие качества стоит развивать. Таланты 
                      ребенка, сферы карьеры. Рекомендации по секциям и кружкам.
                    </p>
                    <p class="services-text">Как выглядит: текстовый файл (15-17 стр.) + аудиозапись</p>
                    <h4>Стоимость: 440 грн./ 1250 руб.</h4>
                  </div>
                  <div class="slider__item services-item">
                    <!-- Контент 6 слайда -->
                    <h4>Для чего ребенок пришел в род</h4>
                    <p class="services-text">
                      Для тех, кто хочет узнать характер ребенка. Анализ сильных и слабых сторон, 
                      на что сделать упор в воспитании, какие качества стоит развивать. Таланты 
                      ребенка, сферы карьеры. Рекомендации по секциям и кружкам.
                    </p>
                    <p class="services-text">Как выглядит: текстовый файл (1-2 стр.) + аудиозапись</p>
                    <h4>Стоимость: 260 грн./ 700 руб.</h4>
                  </div>
                </div>
              </div>
              <!-- Кнопки для перехода к предыдущему и следующему слайду -->
              <button class="slider__control" data-slide="prev"></button>
              <button class="slider__control" data-slide="next"></button>
              <!-- Кнопки индикаторов слайдов -->
              <ol class="slider__indicators">
                <li data-slide-to="0"></li>
                <li data-slide-to="1"></li>
                <li data-slide-to="2"></li>
                <li data-slide-to="3"></li>
                <li data-slide-to="4"></li>
                <li data-slide-to="5"></li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      <!-- services section end -->

      <!-- reviews section start -->
      <section class="page-section-4 example-screen">
        <div class="reviews-bg">
          <h1 class="heading-1">Отзывы</h1>
          <div class="text">
            <p>
              Ниже поделюсь с тобой отзывами благодарных клиентов. Очень рада, что у людей 
              начались изменения в жизни.
            </p>
          </div>
          <div class="reviews-container">
            <div class="slider slider-2" data-slider="itc-slider">
              <div class="slider__wrapper">
                <div class="slider__items">
                  <div class="slider__item reviews-item">
                    <!-- Контент 1 слайда -->
                    <img src="{% static 'answer/img/photo-review-1.png' %}" alt="Фото клиента">
                    <div class="review-container">
                      <p class="reviews-text">круто) спасибо большое) осталось найти талант 😅. Я 
                        действительно чувствую потребность в одиночестве. А вот в лидерстве пока 
                        не чувствую, может со временем проявится. По поводу удачи, я действительно 
                        это чувствую, мне очень много везет, и сбывается то о чем я думаю, иногда 
                        слово в слово 😅.<br/>
                        спасибо за разъяснения по поводу повторений, я поняла) Иногда до смешного по 
                        сбыванию: например я очень хотела татуировку дракона. все время думала об этом.
                      </p>
                    </div>
                  </div>
                  <div class="slider__item reviews-item">
                    <!-- Контент 2 слайда -->
                    <img src="{% static 'answer/img/photo-review-1.png' %}" alt="Фото клиента">
                    <div class="review-container">
                      <p class="reviews-text">Я заказала разбор своей матрицы у Вас Юлия и 
                        не пожалела, что заказала такой разбор, потому что я получила такую полную 
                        картину о самой себе. Сейчас эта презентация с разбором моя настольная книга. 
                        Мне удалось узнать себя лучше, немного подумать и определиться с собственной 
                        жизнью, расставить акценты. При этом, меня не унесло на крыльях мечтаний 
                        за пределы реальности. Все четко, цифры работают. Все такие есть связь. 
                        И как хорошо знать себя и свои возможности.<br/>
                        Спасибо Вам Юлия что помогли мне в этом!😘
                      </p>
                    </div>
                  </div>
                  <div class="slider__item reviews-item">
                    <!-- Контент 3 слайда -->
                    <img src="{% static 'answer/img/photo-review-1.png' %}" alt="Фото клиента">
                    <div class="review-container">
                      <p class="reviews-text">Юличка, доброе утро 🌞<br/>
                        Я только сегодня утром добралась до своей матрицы!<br/>
                        Ты прям упаковала меня полностью в числах!<br/>
                        Всё очень про меня, узнавала себя в каждом слове)<br/>
                        И всё, что я прошла в жизни (ты даже не представляешь, какие уроки мне 
                        выпадали🙃) - всё во благо!!!<br/>
                        Очень понравился твой подход!<br/>
                        Круто!!! Интересно-качественно-объемно🤗🥰<br/>
                        Благодарю ♥️💋🤗<br/>
                        Скажи пожалуйста, сколько стоит твоя работа?<br/>
                        Я под очень приятным впечатлением❣️❣️❣️
                      </p>
                    </div>
                  </div>
                  <div class="slider__item reviews-item">
                    <!-- Контент 4 слайда -->
                    <img src="{% static 'answer/img/photo-review-1.png' %}" alt="Фото клиента">
                    <div class="review-container">
                      <p class="reviews-text">Юль, только что звонил ……., сказал что он просто 
                        в шоке. Говорит, много совпадений, он так и догадывался про ….. но не мог 
                        даже сопоставить что это так влияет. И да, были любовные треугольники, 
                        и про работу ты прям в точку. Я знаю этого человека очень давно, но он 
                        сказал что твой расчет это просто про нереально. Спросил, ничего ли я про 
                        него тебе не рассказывала)). Сказал что, проанализировал твой док и свои 
                        периоды, совпадений море, говорит распечатаю и буду перечитывать)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Кнопки для перехода к предыдущему и следующему слайду -->
              <button class="slider__control" data-slide="prev"></button>
              <button class="slider__control" data-slide="next"></button>
              <!-- Кнопки индикаторов слайдов -->
              <ol class="slider__indicators">
                <li data-slide-to="0"></li>
                <li data-slide-to="1"></li>
                <li data-slide-to="2"></li>
                <li data-slide-to="3"></li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      <!-- reviews section end -->

      <!-- last screen section start -->
      <section class="page-section-5 example-screen">
        <div class="certificate">
          <img class="certificate-img" src="{% static 'answer/img/certificate--xl.png' %}" alt="Сертификат">
        </div>
      </section>
    </main>
    <!-- footer section start -->
    <footer class="footer example-screen">
      <div class="messengers">
        <a class="icon" href="#">
          <img src="{% static 'answer/img/icon/telegram-color.svg' %}" alt="Телеграм">
        </a>
        <a class="icon" href="#">
          <img src="{% static 'answer/img/icon/instagram-color.svg' %}" alt="Инстаграм">
        </a>
        <a class="icon" href="#">
          <img src="{% static 'answer/img/icon/viber-color.svg' %}" alt="Вайбер">
        </a>
      </div>
      <p class="footer-text">&copy; All rights reserved</p>
      <a class="link-developer" href="#"><p class="footer-text">Designed and developed by Ank@</p></a>
    </footer>
    <!-- footer section end -->
    <!-- last screen section end -->
  </div>
  <script src="{% static 'answer/js/script.js' %}"></script>
  <script src="{% static 'answer/js/itc-slider.js' %}"></script>
</body>
</html>
