{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'answer/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'answer/css/media.css' %}">
  <link rel="stylesheet" href="{% static 'answer/css/matrix.css' %}">
  <link rel="stylesheet" href="{% static 'answer/css/itc-slider.css' %}">
  <title>{% trans 'Нумеролог Юлія' %}</title>
</head>
<body>
  <div class="wrapper">
    <!-- header start -->
    <header class="header example-screen">
      <div class="header-container">
        <div class="header-menu menu">
          <div class="menu-icon-border">
            <div class="menu-icon">
              <span></span>
              <!-- <a class="icon" href="#">
                <img src="./img/icon/menu-burger.svg" alt="Меню">
              </a> -->
            </div>
          </div>
        </div>
        <nav class="menu-body">
          <ul class="menu-list">
            <li><a data-goto=".page-section-1" href="#" class="menu-link">{% trans 'Головна' %}</a></li>
            <li><a data-goto=".page-section-2" href="#" class="menu-link">{% trans 'Матриця' %}</a></li>
            <li><a data-goto=".page-section-3" href="#" class="menu-link">{% trans 'Послуги' %}</a></li>
            <li><a data-goto=".page-section-4" href="#" class="menu-link">{% trans 'Відгуки' %}</a></li>
            <li><a data-goto=".page-section-5" href="#" class="menu-link">{% trans 'Сертифікат' %}</a></li>
          </ul>
        </nav>
        <div class="messengers">
          <form class="select-border" action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select class="select-lang" name="language" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option class="select-lang-icon" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                      {{ language.code }}
                    </option>
                {% endfor %}
            </select>
          </form>
          <!--
            <form class="select-border" action="#" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select class="select-lang" name="language">
              <option class="select-lang-icon" value="uk">UA</option>
              <option class="select-lang-icon" value="ru">RU</option>
              <option class="select-lang-icon" value="en">EN</option>
            </select>
          </form>
          -->
          <a class="icon" href="https://t.me/Julia_lysenko_BA">
            <img src="{% static 'answer/img/icon/telegram.svg' %}" alt="Телеграм">
          </a>
          <a class="icon" href="https://www.instagram.com/numerology_analysis/">
            <img src="{% static 'answer/img/icon/instagram.svg' %}" alt="Инстаграм">
          </a>
          <a class="icon" href="viber://chat?number=+380957126603">
            <img src="{% static 'answer/img/icon/viber.svg' %}" alt="Вайбер">
          </a>
        </div>
      </div>
    </header>
    <!-- header end -->
    <main class="page">
      <!-- first screen section start -->
      <section class="page-section-1 example-screen">
        <div class="first-screen-bg">
          <div class="first-screen">
            <picture>
              <source media="(min-width: 320px) and (max-width: 450px)" srcset="{% static 'answer/img/avatar_s.png' %}">
              <source media="(min-width: 451px) and (max-width: 768px)" srcset="{% static 'answer/img/avatar_m.png' %}">
              <source media="(min-width: 769px)" srcset="{% static 'answer/img/avatar_l.png' %}">
              <img src="{% static 'answer/img/avatar_l.png' %}" alt="Фото нумеролога" class="image">
            </picture>
            <div class="headings">
              <h1 class="heading-1">{% trans 'Привіт,' %} <br/>{% trans 'мене звуть Юлія' %}</h1>
              <h2 class="heading-2">{% trans 'Я нумеролог і сертифікований спеціаліст з методу самопізнання особистості по Матриці долі' %}</h2>
            </div>
          </div>
          <div class="text">
            <p>{% trans 'Нумерологія – це наука про звʼязок чисел та людини. Ми народжуємось у певний день – не випадково. Твоя дата народження, це особистий код, де закладено твій потенціал, можливості та таланти. Твої уроки та ситуації, які необхідно вирішити протягом усього життя. Не буває такого, що в когось вони є, а в когось немає. Вони є абсолютно у кожного.' %}</p>
            <p>{% trans 'Моє завдання – показати людині її енергії та допомогти збалансувати стосунки з собою, рідними та близькими.' %}</p>
          </div>
        </div>
      </section>
      <!-- first screen section end -->

      <!-- matrix section start -->
      <section class="page-section-2" id="page-section-2">
        <div class="matrix-bg">
          <h1 class="heading-1">{% trans 'Матриця долі' %}</h1>
          <div class="matrix-bg-star">
            <form action="modal" method="post" enctype="application/x-www-form-urlencoded" class="matrix-container example-print" id="matrix-form">{% csrf_token %}
              <div class="input-field">
                <label for="name-input" class="heading-4">{% trans 'Імʼя' %}</label>
                <input type="text" id="name-input" name="name-input" placeholder="{% trans 'Введіть імʼя' %}" class="matrix-input" required>
                <label for="data-input" class="heading-4">{% trans 'Дата народження' %}</label>
                <input type="date" id="data-input" name="data-input" placeholder="{% trans 'день.місяць.рік' %}" class="matrix-input" required>
                <button type="submit" name="button" class="matrix-button" id="matrix-cont">
                  <span class="matrix-button-title">{% trans 'Призначення' %}</span>
                  <span class="matrix-button-icon"></span>
                </button>
              </div>
            </form>
            <div class="text">
              <p>{% trans 'Тут ти зможеш дізнатися своє перше призначення, в якому напрямку треба рухатися в пошуках себе.' %}</p>
            </div>
          </div>
        </div>
        <!-- Modal section start -->
        {% block content %}
        {% endblock %}      
        <!-- Modal section end -->
      </section>
      <!-- matrix section end -->

      <!-- services section start -->
      <section class="page-section-3 example-screen">
        <div class="services-bg">
          <h1 class="heading-1">{% trans 'Послуги' %}</h1>
          <div class="services-bg-star">
            <div class="services-container">
              <div class="slider slider-1" data-slider="itc-slider">
                <div class="slider__wrapper">
                  <div class="slider__items">
  
                    {% for ser in services %}
                      <div class="slider__item services-item">
                        <!-- Контент 1 слайда -->
                        <h2 class="heading-2">{{ ser.header }}</h2>
                        <div class="services-text">{{ ser.text|safe }}</div>
                        <p class="services-text">{% trans 'Як виглядає:' %} {{ ser.like_view }}</p>
                        <h2 class="heading-2">{% trans 'Вартість:' %} {{ ser.price }} {% trans 'грн.' %}</h2>
                      </div> 
                    {% endfor %}
                   
                  </div>
                </div>
                <!-- Кнопки для перехода к предыдущему и следующему слайду -->
                <button class="slider__control slider-button" data-slide="prev"></button>
                <button class="slider__control slider-button" data-slide="next"></button>
                <!-- Кнопки индикаторов слайдов -->
                <ol class="slider__indicators">
                  {% for ser in services %}
                    <li data-slide-to=""></li>
                  {% endfor %}
                 
                </ol>
              </div>
            </div>
            <div class="text">
              <p>{% trans 'Якщо ти хочеш глибше познайомитись з собою і почати змінювати своє життя, напиши мені в Direct Instagram чи будь-який інший месенджер.' %}</p>
            </div>
          </div>
        </div>
      </section>
      <!-- services section end -->
      <div class="reviews-bg-star">
        <!-- reviews section start -->
        <section class="page-section-4 example-screen">
          <div class="reviews-bg">
            <h1 class="heading-1">{% trans 'Відгуки' %}</h1>
            <div class="reviews-container">
              <div class="slider slider-2" data-slider="itc-slider">
                <div class="slider__wrapper">
                  <div class="slider__items">
  
                    {% for com in comment %}
                      <div class="slider__item reviews-item">   
                        <img class="review-photo" src="{{ com.avka.url }}" alt="Фото клиента">
                        <div class="review-container">
                          <p class="reviews-text">{{ com.comment }}
                          </p>
                        </div>
                      </div>
                    {% endfor %}
  
                  </div>
                </div>
                <!-- Кнопки для перехода к предыдущему и следующему слайду -->
                <button class="slider__control slider-button" data-slide="prev"></button>
                <button class="slider__control slider-button" data-slide="next"></button>
                <!-- Кнопки индикаторов слайдов -->
                <ol class="slider__indicators">
                
                  {% for i in comment %}   
                  <li data-slide-to=""></li>
                  {% endfor %}
  
                </ol>
              </div>
            </div>
            <div class="text">
              <p>{% trans 'Поділюсь з тобою відгуками вдячних клієнтів. Дуже рада, що у людей почались зміни у житті.' %}</p>
            </div>
          </div>
        </section>
        <!-- reviews section end -->

        <!-- last screen section start -->
        <section class="page-section-5 example-screen">
          <picture>
            <source media="(min-width: 320px) and (max-width: 450px)" srcset="{% static 'answer/img/certificate_s.png' %}">
            <source media="(min-width: 451px) and (max-width: 768px)" srcset="{% static 'answer/img/certificate_m.png' %}">
            <source media="(min-width: 769px)" srcset="{% static 'answer/img/certificate_l.png' %}">
            <img src="{% static 'answer/img/certificate_l.png' %}" alt="Сертификат" class="certificate">
          </picture>
        </section>
      </div>
    </main>
    <!-- footer section start -->
    <footer class="footer-bg example-screen">
      <div class="footer-bg-star">
        <div class="footer">
          <div class="messengers">
            <a class="icon" href="https://t.me/Julia_lysenko_BA">
              <img src="{% static 'answer/img/icon/telegram-color.svg' %}" alt="Телеграм">
            </a>
            <a class="icon" href="https://www.instagram.com/numerology_analysis/">
              <img src="{% static 'answer/img/icon/instagram-color.svg' %}" alt="Инстаграм">
            </a>
            <a class="icon" href="viber://chat?number=+380957126603">
              <img src="{% static 'answer/img/icon/viber-color.svg' %}" alt="Вайбер">
            </a>
          </div>
          <p class="footer-text">&copy; All rights reserved</p>
          <a class="link-developer" href="https://www.linkedin.com/in/aleksey-tretyakov-7791101a9"><p class="footer-text">Designed and developed by T.team</p></a>
        </div>
      </div>
    </footer>
    <!-- footer section end -->
    <!-- last screen section end -->
  </div>
  <script src="{% static 'answer/js/script.js' %}"></script>
  <script src="{% static 'answer/js/itc-slider.js' %}"></script>
</body>
</html>