{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'answer/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'answer/css/media.css' %}">
  <link rel="stylesheet" href="{% static 'answer/css/matrix.css' %}">
  <link rel="stylesheet" href="{% static 'answer/css/itc-slider.css' %}">
  <title>{% trans 'Нумеролог Юлія' %}</title>
</head>
<body>
  <div class="wrapper">
    <div class="error-bg">
      <div class="error-container">
        <h1 class="heading-1">{% trans 'Помилка' %}</h1>
        <p>{% trans 'Здається цифри не склалися сьогодні,' %}<br/> {% trans 'спробуй повернутися на початок шляху.' %}</p>
        <a href="https://numerology-ulya.netlify.app/" class="error-button">
          <span class="error-button-title">{% trans 'На головну' %}</span>
          <span class="error-button-icon"></span>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
